<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <%- include('./partials/style') %>
  </head>
  <body>
    <div class="wrapper">
      <h2>Login page</h2>
      <% if(message) {%>
      <p><%= message %></p>

      <%} %>
      <form class="user-form" method="POST" action="http://localhost:3000/login">
        <input type="text" name="email" placeholder="Enter Your email" />
        <br /><br />
        <input
          type="password"
          name="password"
          placeholder="Enter Your password"
        />
        <br /><br />
        <input type="submit" value="submit" />
      </form>
      <a href="/signup">Signup</a>
    </div>
  </body>
</html>
